
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    background-color: rgb(225, 221, 221);
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5%;
    

}

input{
    height: 30px;
    margin-bottom: 10px;
}

.btn{
    width:100px;
    height: 35px;
    margin: 40px;
    background-color: rosybrown;
    font-weight: bold;

}

